html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, .highlight {
  margin-bottom: 2rem; }

.highlight > pre, .tag-search, .article, .post-wrapper, .comments, .site__footer, .author, .pagination {
  padding: 2.5rem 2rem; }
  @media (min-width: 768px) {
    .highlight > pre, .tag-search, .article, .post-wrapper, .comments, .site__footer, .author, .pagination {
      padding: 3.5rem 4rem; } }
  @media (min-width: 992px) {
    .highlight > pre, .tag-search, .article, .post-wrapper, .comments, .site__footer, .author, .pagination {
      padding: 5rem 5.5rem; } }

.highlight, .article__footer, .post__pagination {
  margin-left: -2rem;
  margin-right: -2rem; }
  @media (min-width: 768px) {
    .highlight, .article__footer, .post__pagination {
      margin-left: -4rem;
      margin-right: -4rem; } }
  @media (min-width: 992px) {
    .highlight, .article__footer, .post__pagination {
      margin-left: -5.5rem;
      margin-right: -5.5rem; } }

.tag-search, .site__navbar, .article, .post-wrapper, .comments, .site__footer, .author, .pagination {
  display: block;
  margin-top: 3rem;
  background-color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.085); }

html {
  font-size: 10px;
  box-sizing: border-box;
  overflow-y: scroll; }

*, *::before, *::after {
  box-sizing: inherit; }

body {
  font-family: "Arimo", "Tahoma", "Helvetica", sans-serif;
  font-size: 1.4em;
  line-height: 1.7;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  color: #222;
  background-color: #f0f0f0; }
  @media (min-width: 768px) {
    body {
      font-size: 1.6em; } }

img {
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  word-break: break-word; }

h2, h3, h4, h5, h6 {
  font-weight: 700; }

h1 {
  font-size: 3.6rem;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: -.2rem; }

h2 {
  font-size: 3rem;
  line-height: 1.2;
  letter-spacing: -.2rem; }

h3 {
  font-size: 2.4rem;
  line-height: 1.3;
  letter-spacing: -.1rem; }

h4 {
  font-size: 1.8rem;
  line-height: 1.35;
  letter-spacing: -.08rem; }

h5 {
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: -.05rem; }

h6 {
  font-size: 1.4rem;
  line-height: 1.6;
  letter-spacing: 0; }

@media (min-width: 768px) {
  h1 {
    font-size: 4rem; }
  h2 {
    font-size: 3.6rem; }
  h3 {
    font-size: 3rem; }
  h4 {
    font-size: 2.4rem; }
  h5 {
    font-size: 1.8rem; }
  h6 {
    font-size: 1.5rem; } }

p {
  margin-top: 1.8rem; }

::-moz-selection {
  background-color: #e74c3c;
  color: #fff; }

::selection {
  background-color: #e74c3c;
  color: #fff; }

blockquote {
  padding-left: 2rem;
  border-left: 0.3rem solid #e74c3c;
  font-style: italic;
  color: #888;
  margin-left: 0; }
  @media (min-width: 768px) {
    blockquote {
      margin-left: 2rem; } }

a {
  color: #e74c3c;
  text-decoration: none;
  transition: color 200ms; }
  a:hover {
    color: #a82315; }

ul, ol, dl {
  margin-left: 1rem; }

li > ul,
li > ol {
  margin-bottom: 0; }

pre,
code {
  font-size: 1.2rem;
  font-family: 'Roboto Mono', monospace; }
  @media (min-width: 768px) {
    pre,
    code {
      font-size: 1.4rem; } }

code, .highlighter-rouge {
  border-radius: 0.4rem;
  background-color: #f0f0f0;
  border: 1px solid #dedede; }

figure {
  margin: 0;
  padding: 0; }

.highlight {
  margin-bottom: 1rem; }
  .highlight > pre, .highlight code {
    background-color: #f8f8f8; }
  .highlight > pre {
    padding-top: 2rem;
    padding-bottom: 2rem; }

code {
  padding: 0 .5rem; }

pre {
  padding: 1.5rem 1.2rem;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

.highlight {
  background: #fff; }
  .highlight .k, .highlight .nb {
    font-weight: bold;
    color: #258cd1; }
  .highlight .c, .highlight .w, .highlight .cm, .highlight .cp, .highlight .c1, .highlight .cs, .highlight .bp {
    color: #979797;
    font-style: italic; }
  .highlight .kd, .highlight .kc, .highlight .kp, .highlight .kr, .highlight .ni, .highlight .ss {
    font-weight: bold;
    color: #8e44ad; }
  .highlight .nc, .highlight .nx, .highlight .nc {
    color: #458; }
  .highlight .m, .highlight .no, .highlight .nv, .highlight .mf, .highlight .mh, .highlight .mi,
  .highlight .mo, .highlight .vc, .highlight .vg, .highlight .vi, .highlight .il {
    color: #099; }
  .highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .nf,
  .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .s1, .highlight .ne {
    color: #e32f1c; }
  .highlighter-rouge .highlight {
    background: #f0f0f0; }

.site__navbar, .page-content, .post-wrapper, .comments, .site__footer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.tags-cloud__tag {
  display: inline-block;
  padding: .5rem 1.5rem;
  margin-right: 1rem;
  border: 0.1rem solid #e3e3e3;
  border-radius: 0.4rem;
  background-color: #f0f0f0;
  color: #222;
  text-decoration: none;
  transition: border-color 200ms, background-color 200ms; }
  .tags-cloud__tag:hover {
    background-color: #e3e3e3;
    border-color: #cacaca; }
  .tags-cloud__tag--margined {
    margin-top: .75rem; }

.tag__icon {
  margin-right: .75rem; }

.logo > img {
  max-width: 200px;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms; }
  .logo > img:hover {
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1); }

.logo-wrapper {
  margin-top: 3rem;
  text-align: center; }

.site__navbar {
  text-align: center; }
  @media (min-width: 992px) {
    .site__navbar {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      text-align: left; }
      .site__navbar .navbar__menu {
        padding-left: 3rem; }
        .site__navbar .navbar__menu--right {
          margin-left: auto;
          padding-right: 3rem; } }

.navbar__menu_item {
  display: block;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  color: #222;
  transition: color 200ms, background-color 200ms; }
  @media (min-width: 768px) {
    .navbar__menu_item {
      display: inline-block;
      padding: 2.2rem 2.5rem;
      padding-left: 2.5rem;
      padding-right: 2.5rem; } }
  .navbar__menu_item:hover {
    color: #e74c3c;
    background-color: #f0f0f0; }

.navbar__menu .social-links__icon {
  padding-top: 1.4rem;
  padding-bottom: 1.45rem; }

.article {
  padding-bottom: 0; }

.article__header {
  padding-bottom: 2rem;
  margin-bottom: 1.5rem;
  border-bottom: 0.3rem solid #f0f0f0; }

.title {
  margin: 0;
  margin-bottom: 1.5rem;
  font-family: "Arimo", "Tahoma", "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 2rem;
  letter-spacing: 0; }
  @media (min-width: 768px) {
    .title {
      font-size: 2.5rem; } }
  .title > .title__link {
    text-decoration: none;
    transition: color 200ms; }

.date {
  font-size: 1.4rem;
  color: #888; }
  .date__icon {
    margin-right: .75rem; }

.article__footer {
  padding-left: 2rem;
  margin-top: 2rem; }
  @media (min-width: 768px) {
    .article__footer {
      padding-left: 4rem; } }
  @media (min-width: 992px) {
    .article__footer {
      padding-left: 5.5rem; } }
  @media (min-width: 768px) {
    .article__footer {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-top: 5rem; } }
  .article__footer > .meta {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2rem;
    margin-left: -2rem; }
    @media (min-width: 768px) {
      .article__footer > .meta {
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        margin-left: auto;
        margin-top: 0; } }

.meta__item {
  padding: 2rem 3rem;
  border-right: 0.2rem solid #e3e3e3;
  color: #222;
  text-align: center;
  text-decoration: none;
  background-color: #f0f0f0;
  transition: background-color 200ms; }
  @media (max-width: 768px) {
    .meta__item {
      display: block;
      width: 50%;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 0;
      padding-right: 0; } }
  .meta__item:last-of-type {
    border-right: 0; }
  .meta__item:hover {
    background-color: #e3e3e3; }

.title__link--article {
  color: #e74c3c; }
  .title__link--article:hover {
    color: #e43725; }

.title__link--digest {
  color: #8e44ad; }
  .title__link--digest:hover {
    color: #7f3d9b; }

.title__link--exercise {
  color: #29b362; }
  .title__link--exercise:hover {
    color: #249e57; }

.title__link--advice {
  color: #3498db; }
  .title__link--advice:hover {
    color: #258cd1; }

.post__header {
  margin-bottom: 2rem;
  border-bottom: 0.2rem solid #f0f0f0;
  text-align: center; }

.post__title {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 900; }

.post__meta {
  margin-top: 1rem;
  margin-bottom: 2rem; }

.post__meta_item {
  display: inline-block;
  padding: .75rem 1rem;
  margin-left: 2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #888; }
  @media (max-width: 768px) {
    .post__meta_item {
      margin-left: 0; } }
  .post__meta_item .fa {
    margin-right: .75rem; }

a.post__meta_item {
  transition: color 200ms, background-color 200ms; }
  a.post__meta_item:hover {
    color: #fff;
    background-color: #e74c3c; }

.post__footer {
  margin-top: 3rem;
  padding-top: 2rem;
  border-top: 0.3rem solid #f0f0f0; }

.post__pagination {
  margin-bottom: -2.5rem;
  margin-top: 3rem; }
  @media (min-width: 768px) {
    .post__pagination {
      margin-bottom: -3.5rem; } }
  @media (min-width: 992px) {
    .post__pagination {
      margin-bottom: -5rem; } }
  @media (min-width: 768px) {
    .post__pagination {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }

.pagination__btn {
  display: inline-block;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 0.2rem solid #e3e3e3;
  text-align: center;
  background-color: #f0f0f0;
  color: #222;
  transition: background-color 200ms; }
  .pagination__btn:hover {
    color: #222;
    background-color: #e3e3e3; }
  @media (min-width: 768px) {
    .pagination__btn--w50 {
      width: 50%; } }

.social-links__icon {
  font-size: 2.5rem;
  display: inline-block;
  padding: .75rem 1.5rem;
  color: #222; }
  .social-links__icon:hover {
    color: #e74c3c;
    background-color: #f0f0f0; }

@media (min-width: 768px) {
  .site__footer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.site__footer_col {
  width: 100%;
  text-align: center; }
  @media (min-width: 768px) {
    .site__footer_col {
      text-align: left;
      padding-left: 2rem;
      padding-right: 2rem;
      width: 39%; }
      .site__footer_col--small {
        width: 22%; } }

.site__footer_title {
  font-size: 2rem; }

@media (min-width: 768px) {
  .author {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.author__image {
  text-align: center; }
  @media (min-width: 768px) {
    .author__image {
      width: 20%; } }

.author__avatar {
  display: inline-block;
  max-width: 150px;
  padding: 1.5rem;
  border: 0.1rem solid #e3e3e3;
  border-radius: 50%;
  background-color: #fff; }
  @media (min-width: 768px) {
    .author__avatar {
      max-width: 100%; } }

.author__description {
  text-align: center; }
  @media (min-width: 768px) {
    .author__description {
      padding-left: 3rem;
      text-align: left; } }

.author__title {
  margin-top: 0; }

.author__links_icon {
  padding: 1rem 1.5rem;
  font-size: 2rem;
  color: #222;
  transition: background-color 200ms, color 200ms; }
  .author__links_icon:hover {
    color: #e74c3c;
    background-color: #f0f0f0; }

.pagination {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 0;
  list-style: none;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .pagination__item a, .pagination__previous a, .pagination__next a {
    display: inline-block;
    padding: .75rem 1.5rem; }
    .pagination__item a:hover, .pagination__previous a:hover, .pagination__next a:hover {
      background-color: #f0f0f0; }
  @media (max-width: 768px) {
    .pagination__item {
      display: none; } }
  .pagination__previous--disabled, .pagination__next--disabled {
    padding: .75rem 1.5rem;
    color: #888; }
  .pagination__current {
    padding: .75rem 1.5rem;
    color: #fff;
    background-color: #e74c3c;
    transition: background-color 200ms, color 200ms; }
    .pagination__current:hover {
      color: #fff;
      background-color: #e74c3c; }
