html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  background-color: #f0f0f0; }

.logo-section {
  margin-top: 3rem;
  text-align: center; }

.logo:hover {
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1); }

.logo > img {
  max-width: 200px;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms; }
  .logo > img:hover {
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1); }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.site-navbar {
  margin-top: 3rem;
  background-color: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1); }

.nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0; }
  @media (max-width: 750px) {
    .nav {
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media (max-width: 560px) {
    .nav {
      display: block; } }

.nav-item > .fa {
  margin-right: .5rem; }

.nav-item, .nav-item_icon {
  text-decoration: none;
  color: #3e3e3e;
  display: inline-block;
  padding: 1.5rem;
  transition: background-color 200ms, color 200ms; }
  .nav-item:hover, .nav-item_icon:hover {
    background-color: #f0f0f0; }
  @media (max-width: 560px) {
    .nav-item, .nav-item_icon {
      text-align: center;
      display: block; } }

.nav-item_icon {
  font-size: 1.6rem;
  padding: 1rem; }

.social-section {
  margin-left: auto;
  padding-right: 2rem; }
  @media (max-width: 560px) {
    .social-section {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 1rem;
      padding-right: 0; } }

.navbar-brand {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: none;
  text-align: center;
  padding: 1rem;
  line-height: 1.2rem;
  border-bottom: 2px solid #f0f0f0;
  margin: 0;
  font-family: 'Open Sans';
  font-weight: 800;
  letter-spacing: -2px; }
  @media (max-width: 560px) {
    .navbar-brand {
      display: block; } }
  .navbar-brand .brand-highlight {
    color: #e74c3c;
    font-size: 1.35rem; }

.burger-icon {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1.6rem;
  margin-left: auto;
  display: none;
  cursor: pointer; }
  .burger-icon:hover .burger, .burger-icon:hover .burger::before, .burger-icon:hover .burger::after {
    background-color: #e74c3c; }
  .burger-icon .burger {
    position: relative;
    margin-top: 8px;
    margin-bottom: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .burger-icon .burger, .burger-icon .burger::before, .burger-icon .burger::after {
      display: block;
      width: 25px;
      height: 3px;
      background-color: #222;
      transition-property: background-color, -webkit-transform;
      transition-property: background-color, transform;
      transition-property: background-color, transform, -webkit-transform;
      transition-duration: 0.3s; }
    .burger-icon .burger::before, .burger-icon .burger::after {
      position: absolute;
      content: ""; }
    .burger-icon .burger::before {
      top: -8px; }
    .burger-icon .burger::after {
      top: 8px; }
    .burger-icon .burger.active {
      background-color: transparent; }
    .burger-icon .burger.active::before {
      -webkit-transform: translateY(8px) rotate(45deg);
      -ms-transform: translateY(8px) rotate(45deg);
      transform: translateY(8px) rotate(45deg); }
    .burger-icon .burger.active::after {
      -webkit-transform: translateY(-8px) rotate(-45deg);
      -ms-transform: translateY(-8px) rotate(-45deg);
      transform: translateY(-8px) rotate(-45deg); }
  @media (max-width: 560px) {
    .burger-icon {
      display: block; } }

.navbar-toggle {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 750px) {
    .navbar-toggle {
      display: block; } }
  @media (max-width: 560px) {
    .navbar-toggle {
      display: none; } }

.mobile-nav {
  position: relative; }

.site-footer {
  background-color: #fff;
  margin-top: 3rem;
  padding: 3rem 1rem;
  box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1); }
  .site-footer .center {
    text-align: center; }

.footer-logo > img {
  max-width: 100px; }

.footer-brand {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 1.4rem;
  margin: 0;
  font-family: 'Open Sans';
  color: #222;
  font-size: 1.25rem;
  font-weight: 800;
  letter-spacing: -2px; }
  @media (max-width: 560px) {
    .footer-brand {
      display: block; } }
  .footer-brand .brand-highlight {
    color: #e74c3c;
    font-size: 1.35rem; }

.footer-navbar {
  padding: 0 2rem; }
  @media (max-width: 640px) {
    .footer-navbar {
      padding: 2rem;
      text-align: center; } }

.footer-title {
  font-size: 1.2rem;
  font-family: 'Open Sans';
  font-weight: 800;
  letter-spacing: -1px;
  color: #222;
  margin-bottom: 1rem; }
  @media (max-width: 640px) {
    .footer-title {
      text-align: center; } }

.footer-nav {
  list-style: none;
  padding: 0;
  margin: 0; }
  .footer-nav > li {
    display: inline-block;
    margin-right: 1rem;
    margin-top: .5rem; }

.search-wrapper .tag {
  display: inline-block;
  margin-right: 1rem;
  margin-top: .5rem; }

.author-header {
  background-color: #fff;
  padding: 2rem;
  margin-top: 2rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1); }
  @media (max-width: 640px) {
    .author-header {
      display: block; } }

.author-image {
  width: 20%; }
  @media (max-width: 640px) {
    .author-image {
      width: 100%;
      text-align: center;
      margin-bottom: 2rem; } }

.author-avatar {
  display: inline-block;
  max-width: 100%;
  border-radius: 50%;
  padding: .5rem;
  border: 1px solid #f0f0f0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); }
  @media (max-width: 640px) {
    .author-avatar {
      max-width: 150px; } }

.author-description {
  padding-left: 3rem; }

.author-title {
  font-family: 'Open Sans';
  font-size: 1.4rem;
  letter-spacing: -2px; }

.author-link {
  padding: .5rem .75rem;
  color: #222;
  transition: background-color 200ms, color 200ms; }
  .author-link:hover {
    background-color: #f0f0f0; }

.post {
  background-color: #fff;
  padding: 4rem;
  padding-bottom: 0;
  margin-top: 2rem;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1); }
  @media (max-width: 900px) {
    .post {
      padding: 3rem;
      padding-bottom: 0; } }
  @media (max-width: 640px) {
    .post {
      padding: 2rem;
      padding-bottom: 0; } }
  .post h2, .post h3, .post h4, .post h5, .post h6 {
    font-weight: bold; }

.post-header {
  padding-bottom: 1rem;
  border-bottom: 3px solid #f0f0f0;
  margin-bottom: 2rem; }
  .post-header .meta-container {
    margin-top: 2.5rem;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

.post-title {
  font-family: 'Open Sans';
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: .95; }
  @media (max-width: 640px) {
    .post-title {
      letter-spacing: 0; } }

.post-pagination {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -4rem;
  margin-right: -4rem; }
  @media (max-width: 900px) {
    .post-pagination {
      margin-left: -3rem;
      margin-right: -3rem; } }
  @media (max-width: 640px) {
    .post-pagination {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-left: -2rem;
      margin-right: -2rem; } }
  .post-pagination .btn-default {
    width: 50%;
    text-align: center; }
    @media (max-width: 640px) {
      .post-pagination .btn-default {
        width: 100%; } }

.btn-default {
  background-color: #f0f0f0;
  color: #222;
  padding: 2rem;
  transition: background-color 200ms; }
  .btn-default:hover {
    color: #222;
    background-color: #e3e3e3; }

.btn-icon-right > .fa {
  margin-left: 1rem; }

.btn-icon-left > .fa {
  margin-right: 1rem; }

.comments {
  background-color: #fff;
  padding: 4rem;
  margin-top: 3rem;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1); }
  @media (max-width: 900px) {
    .comments {
      padding: 3rem; } }
  @media (max-width: 640px) {
    .comments {
      padding: 2rem; } }

.post-tags {
  margin-top: 3rem;
  padding-bottom: 2rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.search-wrapper {
  background-color: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-top: 2rem; }

.search-title {
  font-size: 1.1rem; }

.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #f0f0f0; }
  .highlight .c {
    font-style: italic;
    color: #969896; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold;
    color: #0e7bc9; }
  .highlight .cm {
    color: #969896; }
  .highlight .cp {
    font-weight: bold;
    color: #969896; }
  .highlight .c1 {
    font-style: italic;
    color: #969896; }
  .highlight .cs {
    font-weight: bold;
    font-style: italic;
    color: #999; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    /* font-weight: bold */ }
  .highlight .kd {
    font-weight: bold;
    color: #935bad; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    font-weight: bold;
    color: #458; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #2980b9; }
  .highlight .nb {
    color: #0e7bc9; }
  .highlight .nc {
    font-weight: bold;
    color: #458; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    font-weight: bold;
    color: #900; }
  .highlight .nf {
    font-weight: bold;
    color: #900; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    font-weight: bold;
    color: #3498db; }
  .highlight .nv {
    color: #008080; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }
  .highlight .s1 {
    color: #ef2540; }
  .highlight .nx {
    color: #292e33; }

pre,
code {
  font-size: .9rem;
  line-height: 1.5rem;
  font-family: 'Roboto Mono', monospace; }

code, .highlighter-rouge {
  border-radius: .2rem;
  background-color: #f8f8f5;
  border: 1px solid #e9e9e0; }

figure {
  margin: 0;
  padding: 0; }

.highlight {
  margin-bottom: 1rem;
  margin-left: -4rem;
  margin-right: -4rem; }
  @media (max-width: 900px) {
    .highlight {
      margin-left: -3rem;
      margin-right: -3rem; } }
  @media (max-width: 640px) {
    .highlight {
      margin-left: -2rem;
      margin-right: -2rem; } }
  .highlight > pre, .highlight code {
    background-color: #f8f8f5; }
  .highlight > pre {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem; }
    @media (max-width: 900px) {
      .highlight > pre {
        padding-left: 3rem;
        padding-right: 3rem; } }
    @media (max-width: 640px) {
      .highlight > pre {
        padding-left: 2rem;
        padding-right: 2rem; } }

code {
  padding: 0 .5rem; }

pre {
  padding: 1.5rem 1.2rem;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

blockquote {
  padding-left: 2rem;
  border-left: 3px solid #e74c3c;
  font-style: italic;
  color: #888; }

.article {
  padding: 2.5rem 2rem; }
  @media (min-width: 768px) {
    .article {
      padding: 3.5rem 4rem; } }
  @media (min-width: 992px) {
    .article {
      padding: 5rem 5.5rem; } }

.article__footer {
  margin-left: -2rem;
  margin-right: -2rem; }
  @media (min-width: 768px) {
    .article__footer {
      margin-left: -4rem;
      margin-right: -4rem; } }
  @media (min-width: 992px) {
    .article__footer {
      margin-left: -5.5rem;
      margin-right: -5.5rem; } }

.article {
  display: block;
  margin-top: 3rem;
  background-color: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.085); }

html {
  font-size: 10px;
  box-sizing: border-box;
  overflow-y: scroll; }

*, *::before, *::after {
  box-sizing: inherit; }

body {
  font-family: "Arimo", "Tahoma", "Helvetica", sans-serif;
  font-size: 1.4em;
  line-height: 1.7;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  color: #222;
  background-color: #f0f0f0; }
  @media (min-width: 768px) {
    body {
      font-size: 1.6em; } }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  word-break: break-word; }

h1 {
  font-weight: 900; }

h2, h3, h4, h5, h6 {
  font-weight: 700; }

h1 {
  font-size: 3.6rem;
  line-height: 1.2;
  letter-spacing: -.2rem; }

h2 {
  font-size: 3rem;
  line-height: 1.2;
  letter-spacing: -.2rem; }

h3 {
  font-size: 2.4rem;
  line-height: 1.3;
  letter-spacing: -.1rem; }

h4 {
  font-size: 1.8rem;
  line-height: 1.35;
  letter-spacing: -.08rem; }

h5 {
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: -.05rem; }

h6 {
  font-size: 1.4rem;
  line-height: 1.6;
  letter-spacing: 0; }

@media (min-width: 768px) {
  h1 {
    font-size: 4rem; }
  h2 {
    font-size: 3.6rem; }
  h3 {
    font-size: 3rem; }
  h4 {
    font-size: 2.4rem; }
  h5 {
    font-size: 1.8rem; }
  h6 {
    font-size: 1.5rem; } }

p {
  margin-top: 1.8rem; }

::-moz-selection {
  background-color: #e74c3c;
  color: #fff; }

::selection {
  background-color: #e74c3c;
  color: #fff; }

.tags-cloud__tag {
  padding: .5rem 1.5rem;
  margin-right: 1rem;
  border: 0.1rem solid #e3e3e3;
  border-radius: 0.4rem;
  background-color: #f0f0f0;
  color: #222;
  text-decoration: none;
  transition: border-color 200ms, background-color 200ms; }
  .tags-cloud__tag:hover {
    background-color: #e3e3e3;
    border-color: #cacaca; }

.tag__icon {
  margin-right: .75rem; }

.article {
  padding-bottom: 0; }

.article__header {
  padding-bottom: 2rem;
  margin-bottom: 1.5rem;
  border-bottom: 0.3rem solid #f0f0f0; }

.title {
  margin: 0;
  margin-bottom: 1.5rem;
  font-family: "Arimo", "Tahoma", "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 2rem;
  letter-spacing: 0; }
  @media (min-width: 768px) {
    .title {
      font-size: 2.5rem; } }
  .title > .title__link {
    text-decoration: none;
    transition: color 200ms; }

.date {
  font-size: 1.4rem;
  color: #888; }
  .date__icon {
    margin-right: 0.75rem; }

.article__footer {
  padding-left: 2rem;
  margin-top: 2rem; }
  @media (min-width: 768px) {
    .article__footer {
      padding-left: 4rem; } }
  @media (min-width: 992px) {
    .article__footer {
      padding-left: 5.5rem; } }
  @media (min-width: 768px) {
    .article__footer {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-top: 5rem; } }
  .article__footer > .meta {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2rem;
    margin-left: -2rem; }
    @media (min-width: 768px) {
      .article__footer > .meta {
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        margin-left: auto;
        margin-top: 0; } }

.meta__item {
  padding: 2rem 3rem;
  border-right: 0.2rem solid #e3e3e3;
  color: #222;
  text-align: center;
  text-decoration: none;
  background-color: #f0f0f0;
  transition: background-color 200ms; }
  .meta__item:last-of-type {
    border-right: 0; }
  .meta__item:hover {
    background-color: #e3e3e3; }
  @media (max-width: 768px) {
    .meta__item {
      display: block;
      width: 50%;
      padding-top: 1rem;
      padding-bottom: 1rem; } }

.title__link--article {
  color: #e74c3c; }
  .title__link--article:hover {
    color: #e43725; }

.title__link--digest {
  color: #8e44ad; }
  .title__link--digest:hover {
    color: #7f3d9b; }

.title__link--exercise {
  color: #29b362; }
  .title__link--exercise:hover {
    color: #249e57; }

.title__link--advice {
  color: #3498db; }
  .title__link--advice:hover {
    color: #258cd1; }
