<header class="site-header">
	<div class="wrapper">
		<div class="logo-section">
			<a class="logo" href="{{ site.url }}/">
				<img src="{{site.url}}/images/logo-raccoon.svg" alt="logo">
			</a>
		</div>
	</div>

	<nav role="navigation" class="site-navbar container">
		<div class="mobile-nav">
			<h2 class="navbar-brand">Frontend <br> <span class="brand-highlight">Raccoon</span></h2>
			<div class="burger-icon">
				<div class="burger"></div>
			</div>
		</div>
		<div class="navbar-toggle">
			<ul class="nav main-section">
				<li><a href="" class="nav-item"><i class="fa fa-home"></i> <span>Главная</span></a></li>
				<li><a href="#0" class="nav-item"><i class="fa fa-bars"></i> <span>Рубрики</span></a></li>
				<li><a href="" class="nav-item"><i class="fa fa-code"></i> <span>Задачи</span></a></li>
				<li><a href="" class="nav-item"><i class="fa fa-file-text-o"></i> <span>Статьи</span></a></li>
			</ul>

			<ul class="nav social-section">
				<li><a href="" class="nav-item_icon"><i class="fa fa-github"></i></a></li>
				<li><a href="" class="nav-item_icon"><i class="fa fa-vk"></i></a></li>
				<li><a href="" class="nav-item_icon"><i class="fa fa-twitter"></i></a></li>
			</ul>
		</div>
	</nav>
</header>
