<header class="site-header">
	<div class="wrapper">
		<div class="logo-section">
			<a class="logo center" href="{{ site.url }}/"><img src="{{site.url}}/images/logo.svg" alt="logo"></a>
		</div>

    <div class="social-section">
      <a href="https://github.com/rtivital/jsraccoon" class="icon github"><i class="fa fa-github"></i></a>
      <a href="http://vk.com/jsraccoon" class="icon vk"><i class="fa fa-vk"></i></a>
      <a href="https://twitter.com/frontendraccoon" class="icon twitter"><i class="fa fa-twitter"></i></a>
    </div>
	</div>
</header>
