<header class="site__header">
	
	<div class="logo-wrapper">
		<a class="logo" href="/">
			<img src="{{site.url}}/images/logo-raccoon.svg" alt="logo">
		</a>
	</div>

	<nav role="navigation" class="site__navbar">
		<div class="navbar__menu">
			<a class="navbar__menu_item" href="/"><i class="fa fa-home"></i> Главная</a>
			<a class="navbar__menu_item" href="/type/exercise"><i class="fa fa-code"></i> Задачи</a>
			<a class="navbar__menu_item" href="/type/article"><i class="fa fa-file-text-o"></i> Статьи</a>
			<a class="navbar__menu_item" href="/type/advice"><i class="fa fa-cogs"></i> Советы</a>
		</div>
		
		<div class="navbar__menu navbar__menu--right">
			{% include social-links.html %}
		</div>
	</nav>
</header>
