<span class="meta type">
  {% assign t = post.type %}
  {% case t %}
    {% when 'article' %} <i class="meta-icon fa fa-file-text-o"></i> Статья
    {% when 'advice' %} <i class="meta-icon fa fa-cogs"></i> Совет
    {% when 'question' %} <i class="meta-icon fa fa-question"></i> Вопрос
    {% when 'exercise' %} <i class="meta-icon fa fa-code"></i> Задача
  {% endcase %}
</span>
<span class="meta date">
  <i class="meta-icon fa fa-clock-o"></i>
  {{ post.date | date: "%-d" }}
  {% assign m = post.date | date: "%-m" %}
  {% case m %}
    {% when '1' %}Января
    {% when '2' %}Февраля
    {% when '3' %}Марта
    {% when '4' %}Апреля
    {% when '5' %}Мая
    {% when '6' %}Июня
    {% when '7' %}Июля
    {% when '8' %}Августа
    {% when '9' %}Сентября
    {% when '10' %}Октября
    {% when '11' %}Ноября
    {% when '12' %}Декабря
  {% endcase %}
  {{ post.date | date: "%Y" }}
</span>

{%if post.author %}
  <span class=" meta author">
    <i class="meta-icon fa fa-pencil"></i>
    {{ post.author }}
  </span>
{% endif %}

<span class="meta category">
  <i class="meta-icon fa fa-navicon"></i>
  {{ post.categories }}
</span>