{% if page.nextLink or page.prevLink %}
	<div class="post-pagination">
		{% if page.prevTitle and page.prevLink %}
			<a href="{{ page.prevLink }}" class="btn-default btn-icon-left"><i class="fa fa-arrow-left"></i>Предыдущая статья: <b>{{ page.prevTitle }}</b></a>
		{% endif %}

		{% if page.nextTitle and page.nextLink %}
			<a href="{{ page.nextLink }}" class="btn-default btn-icon-right">Читать далее: <b>{{ page.nextTitle }}</b><i class="fa fa-arrow-right"></i></a>
		{% endif %}
	</div>
{% endif %}