html {
  font-size: 10px;
  box-sizing: border-box;
  overflow-y: scroll;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: $font-family-base;
  // Set font-size for mobile only
  font-size: 1.4em;
  line-height: 1.7;
  
  text-size-adjust: 100%;
  font-feature-settings: "kern" 1;
  font-kerning: normal;

  color: $black;
  background-color: $white-gray;

  @include larger-than-small {
    // Set font-size for tablets and desktops
    font-size: 1.6em;
  }
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  // Set margin-bottom
  @extend %vertical-rhythm;

  font-family: $font-family-headings;
  word-break: break-word;
}


h2, h3, h4, h5, h6 {
  // Open Sans Bold
  font-weight: 700;
}

// Font-sizes for mobile
h1 { 
  font-size: 3.6rem;
  font-weight: 900;
  line-height: 1.2;   
  letter-spacing: -.2rem;  
}

h2 { 
  font-size: 3rem;   
  line-height: 1.2;   
  letter-spacing: -.2rem;  
}

h3 { 
  font-size: 2.4rem; 
  line-height: 1.3;   
  letter-spacing: -.1rem;  
}

h4 { 
  font-size: 1.8rem; 
  line-height: 1.35;  
  letter-spacing: -.08rem; 
}

h5 { 
  font-size: 1.5rem; 
  line-height: 1.5;   
  letter-spacing: -.05rem; 
}

h6 { 
  font-size: 1.4rem; 
  line-height: 1.6;   
  letter-spacing: 0;       
}

@include larger-than-small {
  // Font-sizes for desktop
  h1 { font-size: 4rem;   }
  h2 { font-size: 3.6rem; }
  h3 { font-size: 3rem;   }
  h4 { font-size: 2.4rem; }
  h5 { font-size: 1.8rem; }
  h6 { font-size: 1.5rem; }
}

p {
  @extend %vertical-rhythm;
  margin-top: 1.8rem;
}

::selection {
  background-color: $primary-color;
  color: $white;
}
