@mixin small-only {
  @include breakpoint(max-width map-get($breakpoints, small)) {
    @content;
  } 
}

@mixin medium-only {
  @include breakpoint(map-get($breakpoints, small) map-get($breakpoints, medium)) {
    @content;
  }
}

@mixin large-only {
  @include breakpoint(map-get($breakpoints, large)) {
    @content;
  }
}

@mixin larger-than-small {
  @include breakpoint(map-get($breakpoints, small)) {
    @content;
  } 
}

@mixin larger-than-medium {
  @include breakpoint(map-get($breakpoints, medium)) {
    @content;
  } 
}

@mixin smaller-than-medium {
  @include breakpoint(max-width map-get($breakpoints, medium)) {
    @content;
  } 
}

@mixin smaller-than-large {
  @include breakpoint(max-width map-get($breakpoints, large)) {
    @content;
  } 
}
