// Gray Colors
$white: #ffffff;
$white-gray: #f0f0f0;
$light-gray: #b0b0b0;
$gray: #aaaaaa;
$dark-gray: #777777;
$black-gray: #444444;
$black: #222222;

// Primary Colors
// Primary red
$primary: #E74C3C;
$white-primary: lighten($primary, 15%);
$light-primary: lighten($primary, 5%);
$dark-primary: darken($primary, 5%);
$black-primary: darken($primary, 15%);

// Primary purple
$purple: #8e44ad;
$white-purple: lighten($purple, 15%);
$light-purple: lighten($purple, 5%);
$dark-purple: darken($purple, 5%);
$black-purple: darken($purple, 15%);

// Primary blue
$blue: #3498db;
$white-blue: lighten($blue, 15%);
$light-blue: lighten($blue, 5%);
$dark-blue: darken($blue, 5%);
$black-blue: darken($blue, 15%);

// Social Colors
$twitter: #36BBD9;
$youtube: #E52D27;
$dribbble: #ED4584;
$skype: #00ACF4;
$vk: #416894;

// Container max-width
$site-width: 1200px;

// Global spacing
$spacing: 3rem;

// Global font-families
$font-family-base: 'Arimo', 'Tahoma', 'Helvetica', sans-serif;
$font-family-headings: 'Open Sans', sans-serif;
$font-family-code: 'Roboto Mono', monospace;

// Enable rem units (10px === 1rem)
$base-font-size: 10px; 

// Older versions of Gecko require em units
// Font-sizes for devices with max-width of 768px
$body-font-size-sm: 1.4em;

// Font-size for larger devices (min-width: 768px) media query
$body-font-size-lg: 1.6em;


// Site variables
$article-type-article: (
  type: article,
  default: $primary,
  dark: $black-primary
);

$article-type-digest: (
	type: digest,
	default: $purple,
	dark: $black-purple
);

$article-type-advice: (
	type: advice,
	default: $blue,
	dark: $black-blue
);