$white: #ffffff;
$white-gray: #f0f0f0;
$light-gray: #b0b0b0;
$gray: #aaaaaa;
$dark-gray: #777777;
$black: #222222;

$primary: #E74C3C;

$twitter: #36BBD9;
$youtube: #E52D27;
$dribbble: #ED4584;
$skype: #00ACF4;
$vk: #416894;

// Container max-width
$site-width: 950px;

// Global spacing
$spacing: 3rem;

// Our variables
$font-family-base: 'Tahoma', serif;
$font-family-headings: 'Open Sans', sans-serif;

// Enable rem units (10px === 1rem)
$base-font-size: 10px; 

// Older versions of Gecko require em units
// Font-sizes for devices with max-width of 768px
$body-font-size-sm: 1.4em;

// Font-size for larger devices (min-width: 768px) media query
$body-font-size-lg: 1.6em;