.center {
	text-align: center;
}

.mt {
	margin-top: 4rem;
}

.wrapper-404 {
	text-align: center;
	color: $white;
	padding-top: 4rem;
	padding-bottom: 4rem;
	background-color: $dark-primary;
}

.title-404 {
	font-size: 6rem;
}

.article-404 {
	border-top: 0;
	border-left: .5rem solid;
}