.site-header {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	max-width: 50rem;

	& > img {
		max-width: 10rem;
	}
	

	transition: transform 200ms;

	&:hover {
		.logo-text {
			color: $dark-primary;
		}
	}

	@include breakpoint(768px) {
		& > img {
			max-width: 15rem;
		}
	}
}

.logo-text {
	color: $black;
	transition: color 200ms;
	display: block;
	font-size: 2.5rem;
	font-family: $font-family-headings;
	font-weight: 900;
	letter-spacing: -0.3rem;

	@include breakpoint(768px) {
		font-size: 4rem;
		letter-spacing: -0.1rem;
	}
}