// Home page post-list styles
.article {
  padding: 3rem;
  margin-bottom: 3rem;
  border-top: .5rem solid;

  background-color: $white;
  box-shadow: 1px 2px 8px rgba(0,0,0, .15);

  transition: box-shadow 200ms;

  &:hover {
    box-shadow: 3px 5px 8px rgba(0,0,0, .15);
  }

  @include article-type($article-type-article);
  @include article-type($article-type-digest);
  @include article-type($article-type-advice);
}

.article-title {
  margin-bottom: 0;
  margin-top: 0;

  font-size: 2.2rem;
  letter-spacing: -.1rem;
}