.post-header {
	padding-bottom: 1rem;
	border-bottom: .3rem solid $white-gray;
}

.meta-container {
	font-size: 1.4rem;
	margin-top: 1rem;
	user-select: none;
	color: $gray;
	

	&.center {
		text-align: center;
	}
}

.meta {
	display: block;
	margin-top: 1rem;
	

	@include breakpoint(500px) {
		display: inline-block;
		&:not(:first-of-type) {
			margin-left: 2rem;
		}
	}
	
}

.meta-icon {
	margin-right: .5rem;
}

.post-pagination {
	margin-top: 5rem;
	text-align: center;
}

.comments {
	margin-top: 5.5rem;
}

.post-wrapper {
	max-width: 1200px;
	background-color: $white;
	padding-top: 1rem;
	padding-bottom: 3rem;
	box-shadow: 1px 2px 8px rgba(0,0,0, .15);

	@include breakpoint(950px) {
		padding-left: $spacing * 1.75;
		padding-right: $spacing * 1.75;
	}
}

// .post-description {
// 	margin-bottom: 0;
// }