// Styles for social links: Github, VK, Twitter
.social-section {
  text-align: center;
  margin-top: 3.5rem;
}

.social-icon {
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;

  font-size: 3rem;

  color: $black;

  &:hover {
    color: $primary;
  }
}