<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
  
    {% include header.html %}

    <div class="page-content">
      <div class="container">
          {% for post in paginator.posts %}
              <article class="article type-{{ post.type }}">
                <header class="article-header">

                  <h2 class="article-title">
                    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                  </h2>

                  <div class="meta-container">{% include meta.html %}</div>

                </header>

                <div class="description">
                  <p class="post-description">{{post.description}}</p>
                </div>

                <footer class="article-footer">
                  <div class="post-tags">
                    {% for tag in post.tags %}
                      <a href="./tag/{{ tag }}" class="tag"><i class="fa fa-tag"></i>{{tag}}</a>    
                    {% endfor %}
                  </div>
                  <div class="post-date">
                    <i class="fa fa-calendar-o"></i>
                    <span class="date">{% include date.html %}</span>
                  </div>
                </footer>
              </article>

          {% endfor %}

          <!-- Pagination links -->
          {% if paginator.total_pages > 1 %}
          <div class="pagination">
            {% if paginator.previous_page %}
              <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
            {% else %}
              <span>&laquo; Prev</span>
            {% endif %}

            {% for page in (1..paginator.total_pages) %}
              {% if page == paginator.page %}
                <em>{{ page }}</em>
              {% elsif page == 1 %}
                <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
              {% else %}
                <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
              {% endif %}
            {% endfor %}

            {% if paginator.next_page %}
              <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
            {% else %}
              <span>Next &raquo;</span>
            {% endif %}
          </div>
          {% endif %}

      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
