<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
  
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
          {% for post in site.posts %}
              <article class="article type-{{ post.type }}">

                <header class="article-header">

                  <h2 class="article-title">
                    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                  </h2>

                  <div class="meta-container">{% include meta.html %}</div>

                </header>

                <p class="post-description">
                  {{post.description}}
                </p>
              </article>

          {% endfor %}
      </div>

    </div>

    {% include footer.html %}

  </body>

</html>
