<!DOCTYPE html>
<html lang="ru">
<head>
	{% include head.html %}
</head>
<body>
	
	{% include header.html %}


<main class="page-content">
		<div class="tag-search">
		 Материалы по типу: 
     <a href="/type/{{ page.type }}" class="tags-cloud__tag">
      <span class="tag__icon"><i class="fa fa-bookmark"></i></span>
      <span class="tag__text">{{ page.type }}</span>
    </a> 
	</div>
	{% for post in site.posts %}
		{% if post.type == page.type %}
			{% include article.html %}
		{% endif %}
	{% endfor %}
</main>

{% include footer.html %}
</body>
</html>