.tag-search {
  @extend %block-base;
  @extend %block-padding;
}

.tags-cloud {
  &__tag {
    display: inline-block;
    padding: .5rem 1.5rem;
    margin-right: 1rem;
    border: .1rem solid $light-gray;
    border-radius: $global-radius;
    
    background-color: $white-gray;
    
    color: $black;
    text-decoration: none;
    
    transition: border-color map-get($transitions, fast), background-color map-get($transitions, fast);

    &:hover {
      background-color: $light-gray;
      border-color: $gray;
    }

    &--margined {
      margin-top: .75rem;
    }
  }
}

.tag {
  &__icon {
    margin-right: .75rem;
  }
}
