// отмена стилей для последнего элемента
.nav-item {
	border-right: 1px solid #ccc;
	&:last-child {
		border-right: 0;
	}
}

// применение стилей без отмены
.nav-item {
	&:not(:last-child) {
		border-right: 1px solid #ccc;
	}
}