pre,
code {
  font-size: 1.2rem;
  font-family: $font-family-code;
  @include breakpoint(768px) {
    font-size: 1.4rem;
  }
}

// Inline code styles
code, .highlighter-rouge {
  border-radius: .4rem;
  background-color: #f8f8f5;
  border: 1px solid darken(#f8f8f5, 7%);
}

// Block code styles
figure {
  margin: 0;
  padding: 0;
}

.highlight {
  margin-left: $spacing / -4;
  margin-right: $spacing / -4;
  @include breakpoint(950px) {
    margin-left: $spacing * -1.75;
    margin-right: $spacing * -1.75;
  }

  & > pre, code {
    background-color: #f8f8f5;
  }

  & > pre {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: $spacing / 4;
    padding-right: $spacing / 4;
    @include breakpoint(950px) {
      padding-left: $spacing * 1.75;
      padding-right: $spacing * 1.75;
    }
  }
}

code {
  padding: 0 .5rem;
}

pre {
  padding: 1.5rem 1.2rem;
  overflow-x: auto;

  @extend %vertical-rhythm;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}
